###############################################################
## Define variables                                          ##
###############################################################
#What is your user home
home=/home/rtorrent
#Where to find the utilities, such as chtor, deluge-console, etc
bindir=$home/bin
#Path to pyroscope's chtor
chtor_bin=$bindir/chtor
#Script has initial support for simultaneous operation on a remote deluge box. Currently the remote operations are hardcoded (torrent is removed from local instance but removed with data from remote instance) and will be limited to
#whatever deluge-console offers support for).
#We define the local instance connection details. local_host should be listed as ip:port. Username/password lines should be self-explanatory.
dc_local_bin=$bindir/deluge2-console
dc_local_host=127.0.0.1:35461
dc_local_username=admin
dc_local_password=deluge
#Whether we should enable remote operations or not. If this is set to 0 then remote connection details are being set as local and remote action is disabled (so we don't remove anything by accident).
#The host,username and password should be configured similarly to local values.
dc_remote_enable=1
dc_remote_bin=$bindir/deluge1-console
dc_remote_host=127.0.0.1:58846
dc_remote_username=admin
dc_remote_password=deluge
#The deluge state directory so we can get the torrent file and enable fast resume prior to sending it to rtorrent. We avoid an unnecessary hash check that way.
deluge_state_dir=$home/.config/deluge/state
#Torrents from these trackers aren't kept in the deluge queue. Have in mind that partial matches may be possible so try to keep the tracker codes as distinct as possible.
deluge_queue_skip_tracker_codes="mysite|ipt"
#This is a default string that's added in the rtorrent label for combinations of torrent sites that cannot be mapped to an internal code
label_not_found_string=404
#Where do we save the logs of the movement
logdir=$instdir/logs/move_to_rtorrent
#Define the suffix for long term/short term labels being pushed to rtorrent
long_term_seed_label_suffix=_long
short_term_seed_label_suffix=_short
#The minimum ratio for local and remote operations to be effective. If any of those 2 is less than the treshold then we enter a sleep loop for up to $step_sleep multiplied by $run_count_max seconds.
min_ratio_move_local=1
min_ratio_move_remote=1
#If deluge_queue_num_torrents_max is greater than 0 then we keep up to $deluge_queue_num_torrents_max torrents active in deluge. If the number of running torrents in deluge is above $deluge_queue_num_torrents_max then we send some of them to rtorrent
deluge_queue_num_torrents_max=4
deluge_queue_step_sleep=600
deluge_queue_run_count=1
deluge_queue_run_count_max=40
#The paths here are only used to assign a (composite) label to a torrent, like movies, series, pr0n, etc
#The paths must be absolute. For a value of path1="/a/b/c|abc" and tracker1_code=bla the resulting label, depending if deluge ratio >= $min_ratio_move_local, would be BLA_ABC_SHORT (or LONG if deluge ratio < $min_ratio_move_local
#If the torrent download path doesn't match any of the below criteria, a default label of DEFAULT_404_SHORT (or LONG) is assigned.
#The pair path|label should have double quotes. The folder path should NOT have a trailing slash. Make sure the quotes and the | are present, scripts expects them.
path1="/home/transmission/Filme/Filme_HD|FILME_HD"
path2="/home/transmission/Seriale/Seriale_HD|SERIALE_HD"
path3="/home/transmission/XXX|XXX"
path4="/home/transmission/Seriale_Desene|Seriale_Desene"
path5="/home/transmission/Others|Others"
#The script tries to achieve a ratio of at least min_ratio_move_local for local torrents and at least min_ratio_move_remote for remote torrents. This is done by entering a sleep loop for $step_sleep multiplied by $run_count_max seconds.
#If the loop completes and desired ratio isn't met then the torrent is sent with LONG label to rtorrent.
#repair_step_sleep is similarly used for a pause between recovery attempts in rtorrent since randomly rtorrent bugs and doesn't add the torrent correctly.
repair_step_sleep=600
repair_run_count=1
repair_run_count_max=8
step_sleep=600
run_count=1
run_count_max=48
#We need rtxmlrpc to load the torrent to rtorrent.
rtxmlrpc_bin=$bindir/rtxmlrpc
#Path to rtxmlrpc socket
rtxmlrpc_socket=/run/rtorrent/rtorrent.sock
#Which ratio to send to deluge. Options are: local ratio, remote ratio, average between local and remote ratio,sum of local and remote ratio. Keywords are localratio,remoteratio,avgratio,sumratio.
#Format is trackerX_deluge_ratio=value
tracker1_deluge_ratio=remoteratio
tracker2_deluge_ratio=avgratio
#We use tracker*_url_contains to map a tracker to an easy-to-read code. The script uses these partial URLs to map an announce URL to a tracker code.
#These fields can also be blank and default values are assigned (tracker_code will be DEFAULT for any unlisted URLs). Have in mind some sites have multiple announce URLs defined and all the partial values will need to be added in the list.
tracker1_url_contains="*host.name*"
tracker2_url_contains="*empirehost.me*|*stackoverflow.tech*|*bgp.technology*"
tracker3_url_contains="*cartoonchaos.org*"
tracker1_code=mysite
tracker2_code=ipt
tracker3_code=cc
tracker1_reannounce_url=http://announce.host.name:8880/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/announce
tracker2_reannounce_url=
#If you want to change the announce URL in the torrent before moving it to rtorrent then list it here. Otherwise leave blank.
#All trackerX values are linked together. For example this:
#tracker99_url_contains="*host.name*"
#tracker99_code=mysite
#tracker99_reannounce_url=http://host.com/announce/1234567890
#path99="/home/seedbox/myfolder|Mycontent"
#will result in the announce URL being rewritten to http://announce.host.name:8880/XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/announce when torrent is sent to rtorrent and, based on seed ratio and folder, having a label of MYSITE_MYCONTENT_SHORT
#(or LONG). The ratio in deluge at the moment of movemet is written to a custom attribute named deluge_ratio
#The reannounce URLs can also be left blank and no rewrite is attempted
###############################################################

###############################################################
## Do not change these unless you know what you are doing    ##
###############################################################
#Default values
const0=0
const1=1
stringdef=default
#End default values
#Settings this to 1 enables timeout to external commands like dc_local_bin, dc_remote_bin and rtxmlrpc_bin
enable_external_command_timeout=1
#This is the maximum time (in seconds) we need to wait before killing a command and exiting with an error message
#This was implemented because various commands (like deluge-console) like to hang indefinitely, especially on protocol mismatch
#For now there's a hardcoded list of commands where this is used: dc_local_bin,dc_remote_bin and rtxmlrpc_bin
external_command_timeout=60
torrentid=$1
torrentname_in=$2
torrentpath_in=$3
###############################################################

